#display {
  display: flex;
  margin-top: 10px;
}

#startButtonStart {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

#startButtonTrace {
  width: 90px;
}

#mainGrid {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.bd-example {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: 0.25rem;
  border: solid #7d7d7d;
  margin-bottom: 5px;
}

.table {
  width: 100%;
  vertical-align: top;
  border-color: #7d7d7d;
}

#board {
  border-collapse: collapse;
  margin-left: 5px;
  margin-right: 5px;
}

#board td {
  width: 25px;
  height: 25px;
  border: 1px solid #7d7d7d;
}

#traceCanvas,
#traceCanvas2 {
  box-sizing: border-box;
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 3;
  top: 0px;
  left: 0px;
}

#traceCavnas2 {
  z-index: 2;
}

#systemCanvas {
  box-sizing: border-box;
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
  z-index: 4;
  top: 0px;
  left: 0px;
}

#mainGrid {
  width: 80%;
  margin-bottom: 5px;
}

#tableDataDP {
  width: 20%;
  display: none;
}

#modalbtn {
  width: 100%;
  margin-top: 25px;
}

#tableDataSP {
  width: 20%;
  display: none;
}

#tableDataL {
  width: 20%;
  display: none;
}

#displayDefault {
  width: 20%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

#footerdiv {
  width: 100%;
}
